<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WiFi Authentication</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/wifiauth.min.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">

    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="lang center">
    <span><a href="#" onclick="select_language('ru');return false;"><img src="img/ru.png"></a></span>
    <span><a href="#" onclick="select_language('en');return false;"><img src="img/uk.png"></a></span>
  </div>

  <div class="logo center">
    <img src="img/comitenwifi.png">
  </div>


  <div class="info center">
    <span lang="ru">Для подключения к интернету, наберите номер телефона.  Плата не взымается.</span>
    <span lang="en">For Internet connection, please dial the phone number free of charge.</span>
  </div>

  <div class="call-link center">
    <a href="tel:<%= tel %>" onclick="call('<%= tel %>')">
      <button type="button" class="btn-default btn-call btn-lg center-block">
        <img src="img/call.png"><b> <%= tel %></b>
      </button>
    </a>
  </div> 

<form name="login" method="post" action="<%= loginUrl %>">
  <input type="hidden" name="username" value="<%= username %>" />
  <input type="hidden" name="password" value="<%= password %>" />
  <input type="hidden" name="dst" value="<%= dst %>" />
  <input type="hidden" name="popup" value="false" />
</form>

<script type="text/javascript">
    setInterval(check, 1000, '<%= mac %>');
</script>


</body>
</html>
